[phases.setup]
aptPkgs = [
    "libnss3",
    "libnspr4",
    "libatk1.0-0",
    "libatk-bridge2.0-0",
    "libcups2",
    "libdrm2",
    "libxkbcommon0",
    "libxcomposite1",
    "libxdamage1",
    "libxfixes3",
    "libxrandr2",
    "libgbm1",
    "libasound2",
    "libpango-1.0-0",
    "libcairo2",
    "libatspi2.0-0",
    "libdbus-1-3",
    "libx11-6",
    "libxcb1",
    "libxext6",
    "libexpat1"
]

[phases.install]
cmds = ["pip install -r requirements.txt", "playwright install chromium --with-deps"]
